@import '../../assets/styles/app.scss';

.card-users {
  padding: 0.5rem 0 0.5rem 0;

  .card {
    border: none;

    .btn {
      &__user{
        color: $main-font-color;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    .card-header {
      padding: 0;
      font-size: 2rem;
      color: rgba(0,0,0, 1);
    }

    .user-name{
      background-color: $main-background-color;
    }
  }
}